#titulo{
    color: tomato;
}
p.especial{
    color: mediumseagreen;
}
p.texto{
    color: slateblue;
}
div p {
    color: aquamarine;
}

div h2, div h3{
    color: brown;
}

*{
    font-size: 24px;
    color: black;
}

/*esto es un comentario*/
/*
.color{
    color: #ff0000;
}
.color{
    color: rgb(0, 0, 255);
}
*/

/* .color{
    border: 3px black dotted;
} */

.color{
    border-style: solid;
    border-color: blue;
    border-radius: 6px;
    border-width: 2em;
}

#fondo{
    background-color: rgba(255, 0, 0, 0.3);
    /* opacity: 0.3; */
    background-image: url('clock.png');
    height: 200px;
/*     background-repeat: repeat-y;
    background-position: center bottom; */
    background: #f00 url('clock.png') repeat-x center bottom / 100px 100px;

    
}

.margen{
    background-color: chocolate;
    margin: 15px;
    padding: 30px 15px 5px;
    border: solid 1px black;
    height: 100px;
    width: 50px;
    overflow: scroll;
}