#titulo{
    color: tomato;
}
p.especial{
    color: mediumseagreen;
}
p.texto{
    color: slateblue;
}
div p {
    color: aquamarine;
}

div h2, div h3{
    color: brown;
}

*{
    font-size: 24px;
    /* color: black; */
}

/*esto es un comentario*/
/*
.color{
    color: #ff0000;
}
.color{
    color: rgb(0, 0, 255);
}
*/

/* .color{
    border: 3px black dotted;
} */

.color{
    border-style: solid;
    border-color: blue;
    border-radius: 6px;
    border-width: 2em;
}

#fondo{
    background-color: rgba(255, 0, 0, 0.3);
    /* opacity: 0.3; */
    background-image: url('clock.png');
    height: 200px;
/*     background-repeat: repeat-y;
    background-position: center bottom; */
    background: #f00 url('clock.png') repeat-x center bottom / 100px 100px;

    
}

.margen{
    background-color: chocolate;
    margin: 15px;
    padding: 30px 15px 5px;
    border: solid 1px black;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid red;
}

.text{
    font-family: "Roboto", sans-serif;
    text-align: justify;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue;

}

a:link{
    color: blueviolet;
}
a:visited{
    color: grey;
}
a:hover{
    color: yellow;
}
a:active{
    color: red;
}

ul{
    background-color: cyan;
    list-style-type: none;
    padding-left: 0;
    /* list-style-position: inside; */
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: solid 1px #eee;
    padding: 5px;
}
th{
    background-color: tomato;
    color: white;
    text-align: left;
}
tr:nth-child(even){
    background-color: #eee;
}

tr:hover{
    background-color: #aaa;
    cursor: pointer;
}

span{
    display: block;
    max-width: 700px;
    background-color: red;
    /* display: none; */
    /* visibility: hidden; */
}

.inline{
    display: inline;
}

#position{
    position: sticky;
    left: 20px;
    top: 25px;
}

.left{
    float: left;
    width: 200px;
    height: 200px;
}
.right{
    float: right;
}
.container{
    height: 200px;
}

.column{
    margin: 0;
    padding: 10px 0;
    width: 33.3%;
}

.inline-block{
    display: inline-block;
    height: 55px;
    background-color: red;
}

.center{
    text-align: center;
    padding: 50px 0;
    width: 200px;
    margin: 0 auto;
    background-color: aqua;
}